* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Sezione header
*/

header .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .col-50 {
    width: 50%;
}

header .content {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.top-left {
    position: absolute;
    right: 0;
}


/*
Sezione jumbotron
*/

.container-lg {
    background-color: lightblue;
}

.container-lg .row {
    max-width: 1400px;
    margin: auto;
    height: 700px;
}

.container-lg .columns {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.container-lg .col-100 {
    width: 100%;
    height: 30%;
}

.container-lg .col-35 {
    width: 35%;
}

.container-lg .col-65 {
    width: 65%;
}

.container-lg img {
    width: 100%;
}


/*
Sezione scelta piano
*/

.container-full .row {
    max-width: 1200px;
    margin: auto;
    height: 1200px;
}

.container-full .col-100 {
    width: 100%;
    height: 150px;
}

.container-full .columns {
    display: flex;
    flex-direction: row;
    height: 750px;
}

.container-full .col-33 {
    width: calc(100% / 3);
    border: 1px solid black;
    height: 100%;
}


/*
Sezione partner
*/

.layout-2 .row {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.layout-2 .col-60 {
    height: 600px;
    width: 60%;
}

.layout-2 .col-40 {
    height: 600px;
    width: 40%;
}

.layout-2 img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}


/*
Sezione icone
*/


.layout-6 .row {
    max-width: 1200px;
    margin: auto;
}

.layout-6 .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-6 .content {
    height: 500px;
    width: calc(100% / 3);
}

.layout-6 img {
    width: 100%;
}


/*
Sezione info
*/

.full-row .row {
    max-width: 1200px;
    margin: auto;
}


/*
Sezione partnerships
*/

.max-width-layout .row {
    max-width: 2000px;
    display: flex;
    flex-direction: row;
}

.max-width-layout .col-33 {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: rgb(228, 228, 228);
}

.max-width-layout .content {
    height: calc(100vw / 3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.max-width-layout .square {
    background-color: cornflowerblue;
    width: calc(100% / 2);
}

.max-width-layout img {
    width: 100%;
    height: 100%;
}

#small {
    width: 50%;
    height: 50%;
}


/*
Sezione iscrizione
*/

.max-row {
    background-color: lightblue;
}

.max-row .row {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.col-80 {
    width: 80%;
}

.col-20 {
    width: 20%;
}


/*
Sezione domande
*/

.multiple-rows .row {
    max-width: 1200px;
    margin: auto;
}


/*
Sezione footer
*/

footer {
    background-color: black;
    color: white;
}

.layout-5 .row {
    max-width: 1400px;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
}

footer .row {
    max-width: 1400px;
    margin: auto;
}
