* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Sezione header
*/

header .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-50 {
    width: 50%;
}

.content {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.top-left {
    position: absolute;
    right: 0;
}